/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#chessClock {
    text-align: center;
}

.timer {
    font-size: 48px;
    margin: 20px;
    padding: 20px;
    background-color: #ddd;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
#instructions, #settings {
    margin-bottom: 20px;
}

#customSettings {
    margin-top: 10px;
}

label, button {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
}

